.uploadImage {
  align-self: flex-start;
  font-size: 1rem !important;
  margin-bottom: 12px;
}

.uploadImage:hover {
  background: none !important;
}

.textfield {
  margin-bottom: 30px !important;
  background: white;
  border-radius: 5px;
  height: 35px;
}

.link {
  text-decoration: none !important;
  background-color: #1976d2;
  color: white;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  align-items: center;
}

.link:hover {
  text-decoration: none;
  background-color: #1565c0;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
