.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  padding-bottom: 20px;
}

.body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.search {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  margin-top: 15px;
  align-items: center;
}

.search label {
  margin-right: 15px;
  color: rgb(0, 0, 0, 0.74);
}

.search input {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 3px;
  width: 200px;
}

.backBtn {
  margin-left: 10px !important;
  text-transform: none;
}
