.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  padding-bottom: 20px;
}

.body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}
